@import '../styles/_variables.scss';

// Container
@mixin container {
  max-width: 1436px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
}

// Buttons
@mixin btn {
  padding: 24px 30px;
  font-size: $size-button;
  line-height: 23.5px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

@mixin btn-main {
  @include btn;
  color: #FFFFFF;
  background-color: $color-btn-primary;

  &:hover {
    background-color: $color-btn-primary-hover;
  }
}

@mixin btn-secondary {
  @include btn;
  color: #FFFFFF;
  background-color: $color-btn-secondary;

  &:hover {
    background-color: $color-btn-secondary-hover;
  }
}

@mixin btn-third {
  @include btn;
  color: $color-primary;
  background-color: $color-btn-third;

  &:hover {
    background-color: $color-btn-third-hover;
  }
}