// Colors
$color-primary: #3B3A5D;
$color-secondary: #FFBB50;
$color-content: #8F8F8F;
$color-link: #B16642;
$color-border: #B16642;

$color-btn-primary: #3B3A5D;
$color-btn-primary-hover: #2f2e4b;
$color-btn-secondary: #FFBB50;
$color-btn-secondary-hover: #d2921f;
$color-btn-third: #FFFFFF;
$color-btn-third-hover: #eeeeee;

// Font sizes
$size-heading-h1: 45px;
$size-heading-h2: 40px;
$size-heading-h3: 35px;
$size-heading-h4: 30px;
$size-heading-h5: 25px;
$size-heading-h6: 20px;

$size-text-main: 20px;

$size-button: 20px;

// Media queries
$media-small_mobile: 500px;
$media-medium_mobile: 600px;
$media-mobile: 768px;
$media-tablet: 1024px;
$media-desktop: 1400px;